body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
}

.form {
  margin-top: 75px;
  display: flex;
  justify-content: center;
}

.selectSpacing {
  margin-bottom: 15px;
}

#moduleName {
  margin-bottom: 0px;
}

.moduleFunc {
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  max-width: 400px;
}

.discontinued {
  margin-bottom: 10px;
  color: red;
  font-weight: bold;
}

.moduleTitle {
  text-align: center;
}

.moduleGroup {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.modules {
  display: flexbox;
  flex-direction: row;
  width: fit-content;
  margin-left: 20px;
}

#options {
  width: fit-content;
}

#search {
  width: 250px;
}

.searchBar {
  display: flex;
  justify-content: center;
}

.createBar {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 15px;
  /* height: 100px; */
}

.createButton {
display: flex;
flex-direction: column;  
justify-content: center;
}

.checkbox {
  justify-content: left;
}

.options {
  font-size: x-large;
}

.labels {
  font-size: larger;
  margin-bottom: 5px;
}

.formFormat {
  justify-content: center;
  display: flex;
  flex-direction: column;
  /* padding-left: auto;
  padding-right: auto; */
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.brands {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.singleBrand {
  display: flex;
  flex-direction: row;
}

.brandImg {
  max-width: 150px;
  max-height: 100px;
}

.image {
  display: flex;
  margin: auto;
}

img:hover {
  transform: scale(1.05);
}

